@font-face {
    font-family: 'Mason Chronicles';
    src: url(../fonts/4026.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-size: normal;
    font-weight: bold;
}