* {
    margin: 0;
    padding: 0;    
}

body {
    background: linear-gradient(to right, rgba(20, 17, 23, .7), rgba(0, 0, 0, .5)), url('../img/bg.png') no-repeat 60% top / cover;
    background-attachment: fixed;
    font-family: 'Roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 50px;
}

.nav__menu {
    display: flex;
    justify-content: space-between;

    .nav__menu-list {
        display: flex;
        align-items: center;

        .logo {
            margin-right: 70px;
        }

        &_link {
            color: #fff;
            padding: 15px;
        }
    }

    .nav__menu-social {
        display: flex;
        align-items: center;

        &_link {
            padding: 5px;
            margin: 10px;

            img {
                width: 45%;
            }
        }
    }
}

.main {
    margin-top: 70px;
    margin-bottom: 150px;

    &__content {
        margin-bottom: 85px;
    }

    &__year {
        color: #fff;
        font-weight: normal;
        margin-bottom: 10px;
    }

    &__rating {
        display: flex;

        &-score {
            color: #fff;
        }
    }

    .fa-star {
        color: #9d2929;
        margin: 2px;

        &:last-of-type {
            margin-right: 10px;
        }
    }

    &__title {
        color: #fff;
        font-size: 75px;
        margin-bottom: 10px;
        font-family: 'Mason Chronicles';
        font-weight: normal;
    }

    &__info {
        color: #fff;
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 40px;
    }

    &__button {
        display: inline-block;
        padding: 22px 70px;
        background: #9d2929;
        color: #fff;
        border-radius: 8px;
        transition: all .2s ease;
    }

    &__button:hover {
        background: #7c2222;
    }

    &__play-block {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

       
    }

    &__play-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background: rgb(157, 41, 41);
        border-radius: 50%;
        transition: all .3s ease;
    }

    &__play-button:hover {
        box-shadow: 0 0 0 15px rgba(157, 41, 41, .5);
    }

    &__play-button-icon {
        width: 0px;
        height: 0px;
        border-top: 20px solid transparent;
        border-left: 35px solid #fff;
        border-bottom: 20px solid transparent;
        margin-left: 10%;
    }

    &__series-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        a {
            color: #9d2929;
            font-size: 50px;
        }

        &_card {
            position: relative;
            width: 100%;


            img {
                display: block;
                width: 100%;
                border-radius: 5px;
            }

            &-info {
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
                padding: 5px;
                border-radius: 4px;
                color: #fff;
                background: linear-gradient(to top, #1b1b1b, transparent);
                font-size: 10px;

                p {
                    font-size: 16px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #141218;
    padding: 20px;

    .copyright {
        display: inline-block;
        color: #727174;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list {
            display: flex;
            
        }

        &_link {
            display: inline-block;
            color: #727174;
            margin: 0 1.5em;
        }
    }
}